html {
    background-color: rgb(212, 206, 206);
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #e3000b;
    padding-bottom: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

h1,
h2 {
    text-align: center;
    margin: 20px 0;
}

h1 {
    color: white;
    background-color: #e3000b;
    padding: 20px;
}

h4 {
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0;
    font-size: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
}

.nav-right {
    margin-left: auto;
}

nav a:hover {
    background-color: #e3000b;
    color: white;
}

form.norm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form.norm div {
    margin-bottom: 10px;
}

input,
textarea {
    padding: 10px;
    width: 300px;
}

input[type='submit'] {
    background-color: #e3000b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 10px 10px 0;
}

input[type='submit']:hover {
    background-color: #c20009;
}

form.align {
    align-items: normal;
}

.container {
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 1200px;
    margin: 5px auto;
    padding: 10px;
    height: 280px;
}

.container > div {
    flex: 1;
}

.container > div:first-child {
    flex-basis: 33.33%;
    text-align: left;
    margin-right: 20px;
}

.container > div:last-child {
    flex-basis: 66.66%;
    text-align: left;
}

.container img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 280px;
}

div.container-cart {
    display: flex;
    align-items: center;
    background-color: white;
    font-weight: bold;
    width: 1200px;
    height: auto;
    margin: 5px auto;
    padding: 10px;
}

div.container-cart > p:first-child {
    flex: 1;
}

div.container-cart > form > input[type='submit'],
div.container-total > form > input[type='submit'] {
    width: auto;
    margin-left: 10px;
}

div.container-total {
    font-weight: bold;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: right;
}

button:disabled {
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 10px 10px 0;
    padding: 10px;
    width: 300px;
}

p.message {
    margin: 20px;
}

.username {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
}

@media (max-width: 1224px) {
    .container,
    div.container-cart,
    div.container-total {
        height: auto;
        width: auto;
    }
    div.container-cart,
    div.container-total {
        min-width: 768px;
    }
}

@media (max-width: 768px) {
    h1 {
        padding: 20px 20px 30px;
        margin-bottom: 10px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }

    .container,
    div.container-cart,
    div.container-total {
        padding: 20px;
    }

    div.container-cart,
    div.container-total {
        min-width: 576px;
        font-size: 12px;
    }

    input,
    textarea {
        width: 100%;
    }
}

@media (max-width: 576px) {
    h1 {
        padding: 20px;
        margin-bottom: 0;
    }

    nav a {
        padding: 10px 5px;
        font-size: 12px;
    }

    .container,
    div.container-cart,
    div.container-total {
        padding: 10px;
    }

    div.container-cart,
    div.container-total {
        min-width: 380px;
    }
}
