h1 {
    text-align: center;
    color: white;
    background-color: #e3000b;
    padding: 20px 20px 40px;
    margin: 20px 0;
}

header {
    background-color: #e3000b;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 0px 0px;
    font-size: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
}

.nav-right {
    margin-left: auto;
}

nav a:hover {
    background-color: #e3000b;
    color: white;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

form div {
    margin-bottom: 10px;
}

form input[type='text'],
form input[type='password'],
form input[type='submit'],
input[type='submit'] {
    padding: 10px;
    width: 300px;
}

form input[type='submit'] {
    background-color: #e3000b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

form input[type='submit']:hover {
    background-color: #c20009;
}

input[type='submit'] {
    background-color: #e3000b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

input[type='submit']:hover {
    background-color: #c20009;
}

form.delete {
    align-items: normal;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 20px;
}

.container {
    background-color: rgb(212, 206, 206);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 5px auto;
    padding: 10px;
}

.container > div {
    flex: 1;
}

.container > div:first-child {
    flex-basis: 33.33%;
    text-align: left;
    margin-right: 20px;
}

.container > div:last-child {
    flex-basis: 66.66%;
    text-align: left;
}

.container img {
    max-width: 100%;
    height: auto;
}

.container.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container.cart > * {
    margin: 0;
    padding: 0 10px;
}

.container.cart input[type='submit'] {
    margin-left: 50px;
    padding: 10px;
    width: auto;
}

p .message {
    margin: 20px;
}
