html {
    background-color: rgb(212, 206, 206);
}

body {
    margin: 0px;
}

header {
    background-color: #e3000b;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: white;
    background-color: #e3000b;
    padding: 20px 20px 40px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

h4 {
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px 0px 0px;
    font-size: 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
}

.nav-right {
    margin-left: auto;
}

nav a:hover {
    background-color: #e3000b;
    color: white;
}

form.norm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form.norm div {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    width: 300px;
}

textarea {
    padding: 10px;
    width: 300px;
    height: 300px;
}

input[type='submit'] {
    background-color: #e3000b;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

input[type='submit']:hover {
    background-color: #c20009;
}

form.align {
    align-items: normal;
}

.container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 5px auto;
    padding: 10px;
    height: 280px;
}

@media (max-width: 1224px) {
    .container {
        height: auto;
    }
}

.container > div {
    flex: 1;
}

.container > div:first-child {
    flex-basis: 33.33%;
    text-align: left;
    margin-right: 20px;
}

.container > div:last-child {
    flex-basis: 66.66%;
    text-align: left;
}

.container img {
    object-fit: contain;
    width: 100%;
    height: auto;
    max-height: 280px;
}

.container_cart {
    display: flex;
    align-items: center;
    background-color: white;
    font-weight: bold;
    width: 1200px;
    height: auto;
    margin: 5px auto;
    padding: 10px;
}

.container_cart > p:first-child {
    flex: 1;
}

.container_cart > form > input[type='submit'],
.total_price > form > input[type='submit'] {
    width: auto;
    margin-left: 10px;
}

.total_price {
    font-weight: bold;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: right;
}

button:disabled {
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}

p .message {
    margin: 20px;
}

.username {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 20px;
    font-size: 16px;
}
